<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mission7</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <!--Header-->
    <header class="bg-dark text-white">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3 text-white">
            <div class="container">
                <a class="navbar-brand text-white" asp-controller="Home" asp-action="Index" asp-route-bookCategory="" asp-route-pageNum="1">Book Store</a>
            </div>
            <div class="col-6 text-right text-white">
                <vc:cart-summary />
            </div>
        </nav>
    </header>

    <!--body-->
    <div class="row m-1 p-1">
        <div class="col-3">
            <vc:categories></vc:categories>
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>

    <!--footer-->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Mission7 - Cody Carlock
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
