@{
    ViewData["Title"] = "Home Page";
}
@model BookViewModel;

<div class="text-center">
    <h1 class="display-4">Book Store</h1>
</div>

<!--Loop through each row in book table and list the columns-->
@foreach (Books b in Model.Books)
{
    <partial name="BookSummary" model="b"/>
}

<!--Pagination a tags with bootstrap classes-->
<div page-model="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>
