<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="bg-dark text-white">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3 text-white">
            <div class="container">
                <a class="navbar-brand text-white" asp-controller="Home" asp-action="Index" asp-route-bookCategory="" asp-route-pageNum="1">Book Store</a>
            </div>
        </nav>
    </header>

    <div class="m-1 p-1">
        @RenderBody()
    </div>
</body>
</html>
