@page
@model Mission7.pages.PurchaseCompletedModel
@{
}

<div class="text-center">
    <h2>Thank you for your purchase. Your order is being shipped!</h2>
    <a class="btn btn-primary" asp-controller="Home">Home</a>
</div>