@page "/admin"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@{
}

<!DOCTYPE html>
<html>

<head>
    <title>Book Store Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <base href="/" />
</head>

<body>
    <component type="typeof(Mission7.pages.Admin.Routed)" render-mode="ServerPrerendered" />

    <script src="/_framework/blazor.ServerPrerendered.js"></script>
</body>
</html>
